
body {
	background: #3053a3;
	font-family: Verdana, Geneva, sans-serif;
	margin: 0 auto;
	width: 90vw;
}

 input[type=radio] {
    height: 5em;    
}

.center {
	text-align: center;
}

.form-label {
	font-size: 35px;
}

.shadow {
	text-shadow: 0 0 8px black;
}

.title {
	font-size: 60px;
}

.white {
	color: white;
}

.wrapper {
	background: #7898e2;
	border-radius: 15px;
	text-align: center;
}


#gen-info{
	font-size: 38px;
}

#lucky-dip {
	display: inline-block;
	font-size: 40px;
	margin: auto;
}
